h1,
h3,
h4,
h5 {
  font-family: "cabin";
}

nav {
  background-color: #660066;
}

header {
  background-image: url(../img/IMG-20201130-WA0038.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.yosoy {
  padding-bottom: 0;
  font-weight: 50;
  font-size: 60;
}

.line {
  border-bottom: 2px solid white;
  width: 500px;
}
.line2 {
  border-bottom: 3px solid #373a3c;
  width: 115px;
}
.foto1 {
  padding: 500px 15px 0px 15px;
}

p {
  font-family: "cabin";
  line-height: 270%;
}
.lemon {
  width: 140px;
}
.fa-lemon {
  color: #660066;
  width: 250px;
}
.fa-laptop-code {
  color: #660066;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.newsletter {
  height: 300px;
}

.logo {
  font-family: "lobster";
}
.contenido {
  text-decoration: underline gray;
}

.logo {
  padding: 0 0 0 0;
}
